<a class="floating-pdf" href="images/FKI 매거진 vol.1(국문)_최종(0926).pdf" download target="_blank">
  <img src="images/icons/down.png" alt="pdf다운로드">
  <p>
    pdf<br>
    다운로드
  </p>
</a>
<a class="cir-floating" href="index.html">
  <img src="images/icons/home.png" alt="홈 이동">
</a>
<a class="cir-floating" href="javascript:void(0)" id="btn_up">
  <img src="images/icons/up.png" alt="위로 이동">
</a>
<a class="cir-floating down" href="javascript:void(0)" id="btn_down">
  <img src="images/icons/up.png" alt="아래로 이동">
</a>