<div class="main_wrap main-header">
  <h1>
    <a href="index.html">
      <img class="logo-img" src="images/main_logo.png" alt="한국경제인협회 로고">
    </a>
  </h1>
  <p class="h-sub-logo">FKI MAGAZINE<br>『다함께, ALL TOGETHER』 Vol.1</p>
  <div class="menu-div">
    <div class="menu-toggle-btn" id="btn_menu_toggle">
      <img src="images/icons/Menu.png" alt="메뉴 아이콘">
    </div>
    <div class="side-menu" id="side_menu">
      <div class="side-bar-header">
        <div class="close-btn" id="close_menu">
          <img src="images/icons/close_btn.png" alt="닫기 아이콘">
        </div>
      </div>
      <a href="sub_00.html" class="side-bar-a">발간사</a>
      <a href="sub_01.html" class="side-bar-a">축사</a>
      <a href="sub_10.html" class="side-bar-a">Special Interview</a>
      <a href="#" class="side-bar-a has-submenu">글로벌 리스크 전망</a>
      <div class="submenu">
        <a class="submenu-a" href="sub_20.html">
          <p>Global Issue</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_21.html">
          <p>Asia Inside</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
      </div>
      <a class="side-bar-a has-submenu" href="#">자유시장경제 원칙 흐르는 상법</a>
      <div class="submenu">
        <a class="submenu-a" href="sub_30.html">
          <p>Theme Inside</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_31.html">
          <p>Theme Q&A</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_32.html">
          <p>Special Issue</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_33.html">
          <p>세계는 지금</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
      </div>
      <a href="#" class="side-bar-a has-submenu">in Focus</a>
      <div class="submenu">
        <a class="submenu-a" href="sub_40.html">
          <p>Report</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
      </div>
      <a href="#" class="side-bar-a has-submenu">in Issue&Trend</a>
      <div class="submenu">
        <a class="submenu-a" href="sub_50.html">
          <p>Issue Highlights</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_51.html">
          <p>입법 소식</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_52.html">
          <p>FKI&People</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_53.html">
          <p>Brands of Korea</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
      </div>
      <a href="#" class="side-bar-a has-submenu">in Story&News</a>
      <div class="submenu">
        <a class="submenu-a" href="sub_60.html">
          <p>Member Story</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_61.html">
          <p>명화로 읽는 경영·경제</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_62.html">
          <p>오선지를 걸으며</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_63.html">
          <p>CEO Advice</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_64.html">
          <p>회원사 Headline</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
        <a class="submenu-a" href="sub_65.html">
          <p>FKI News</p>
          <img src="images/icons/right_arrow_icon.png" alt="오른쪽 화살표 아이콘">
        </a>
      </div>
    </div>
  </div>
</div>